* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #292524;
    font-family: 'IBM Plex Mono', monospace;
}

.outer-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: 100vh;
}

.inner-container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 9rem);
}

.header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    height: 5rem;
    top: 0;
    background-color: #0c0a09;
    border-bottom: 1px solid rgba(245, 158, 11, 0.2);
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'League Gothic', sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0.5rem;
}

.logo img {
    height: 100%;
}

.headerLinks {
    display: flex;
    flex-direction: row;
    font-family: 'League Gothic', sans-serif;
}

a.projLink {
    color: #f7d8a5;
    margin: 1rem;
}

a.projLink:hover {
    font-weight: bold;
    color: rgb(206, 141, 19);
    margin: 1rem;
}

a#projDisplayContainer {
    display: flex;
    gap: 2rem;
}

p#editProjMsg {
    color: red;
    font-weight: bolder;
    font-size: 2rem;
}


a.button {
    background-color: #dc6e00;
    border: 1px solid #f7d8a5;
    font-weight: bold;
    border-radius: 4px;
    padding: 1rem;
    text-decoration: none;
    color: white;
    margin: 1rem;
}

a.button:hover {
    background-color: #de954c;
    border: 1px solid #f7d8a5;
}

button {
    background-color: #dc6e00;
    border: 1px double #f7d8a5;
    font-weight: bold;
    border-radius: 4px;
    padding: 1rem;
    color: white;
    margin: 1rem;
}

button:hover {
    background-color: #de954c;
    border: 1px solid #f7d8a5;
}

.header a {
    display: flex;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-size: 3.5rem;
    word-spacing: 1rem;
    padding: 0.5rem 2rem;
    font-family: 'League Gothic', sans-serif;
}

.header a:hover {
    background-color: #4e0101;
    border-bottom: 2px ridge #f7d8a5;
}

.left-nav {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: auto;
    position: relative;
    max-height: 100%;
    background-color: rgb(46, 46, 46);
    width: 8.4%;
    justify-content: left;
    border-right: 0.1px solid #f9f0b0;
    color: white;
}

.left-nav a{
    color: white;
    text-decoration: none;
    border-top: #eaf0f4;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-family: 'League Gothic', sans-serif;
    margin: 0;

}

.left-nav a:hover{
    color: white;
    text-decoration: none;
    border-top: #f7d8a5;
    background-color: #934200;
}

#yourProjects {
    border: 1px solid #ffffff00;
    border-top: #ffffff;
    font-family: 'League Gothic', sans-serif;
    font-size: 2rem;
    margin: 0;
    font-weight: lighter;
    color: #dc6e00;
}

.content {
    display:flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow-y: auto;
    max-height: 100%;
    background-color: rgb(21, 21, 21);
    color: white;
    box-sizing: border-box;
    width: 91.6%;
    padding: 1rem;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    bottom: 0;
    background-color: #1f1c1a;;
    color: white;
    height: 4rem;
    padding: 1rem;
    font-family: 'IBM Plex Mono', monospace;
}



.footer a {
    color: #dc6e00;
    text-decoration: none;
    margin: 0 0.5rem;
}

.footer a:hover {
    color: #de954c;
    text-decoration: underline;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profilePic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    background-color: white;
    border-radius: 50%;
    border: 2px solid rgba(228, 228, 228, 0.947);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.name {
    font-size: 2rem;
    padding: 0.5rem;
    color: #f7d8a5;
}

.filter {
    display: flex;
    justify-content: center;
    width: 100%;
}

#pageName {
    align-self: center;
}

#newProjectForm {
    display:flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 2rem;
    margin: 1rem;
    padding: 2rem;
    border: 1px solid #dc6e00;
    border-radius: 2rem;
    width: 30%
}

#newProjectBtnFromProjects {
    white-space: nowrap;
}

#projectHeaderSection{
    display: flex;
    justify-content: flex-start;
}



#projectFilterForm{
    display: flex;    
    background-color: rgb(128, 128, 128);
    color: rgb(6, 5, 24);
    border-radius: 2rem;
    align-content: center;
    align-self: center;
    justify-content: center;
    width: 45%;
    padding: 1rem;
    gap: 2rem;
}

#search {
    padding: 1rem;
    border-radius: 1rem;
    color: rgb(7, 6, 31);
}

#categoryFilter {
    padding: 1rem;
    border-radius: 1rem;
    color: rgb(7, 6, 31);
}

#filterButton {
    -webkit-appearance: none; 
    -moz-appearance: none;    
    appearance: none;
    background-color: #dc6e00;
    color: white;
    border-radius: 1rem;
    border: 1px inset #76613f;
}

#filterButton:hover {
    background-color: #de954c;
    border: 1px solid #f7d8a5;
}



.projectsList {
    display: flex;
    flex-wrap: wrap;       
    justify-content: flex-start;
    padding: 1rem;
    margin-top: 2rem;
}

.projectPreview {
    display: block;
    width: 100%;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    background-color: #494540;
    padding: 1rem 0.5rem;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    margin: 1rem;
    background-image: url('/images/film_strip.png');
    background-repeat: repeat-x;
    background-position: left; 
    background-size: contain;
}

.projectPreview:hover {
    background-color: #604f3e;
}


.projectHeader{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 0 0.5rem;
}

#projectDisplay {
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
    border-bottom: 1px solid white;

}

.projectTitle {
    color: white;
    font-weight: bold;
}

.projectOwner {
    color: white;
    font-weight: bold;
}

.projectCategory {
    color: rgb(255, 180, 180);
    font-weight: bold;
}

.projectDescription {
    margin: 0.25rem 0.5rem;
    color: rgb(255, 170, 170);
}

.projectInfo {
    margin: 0.5rem;
    color: #dc6e00;
}

.projectInfo span {
    margin: 0.75rem;
}

.projectManage {
    display: flex;
    justify-content: flex-start;
}

.postsList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin-top: 2rem;
}

.postPreview {
    display: block;
    width: 100%;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
    background-color: #44403c;
    padding: 1rem 0.5rem;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 1.5rem;
    cursor: pointer;
    margin: 2rem 0;
}

.postPreview:hover {
    background-color: #604f3e;
}

.postHeader {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 0 0.5rem;
}

.postTitle {
    color: white;
    font-weight: bold;
}

.postAuthor {
    color: white;
    font-weight: bold;
}

.postContent {
    display: block;
    color: rgb(129, 127, 127);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.postInfo {
    margin: 0.5rem;
    color: #dc6e00;
}

.postInfo span {
    margin: 0.75rem;
}

#postContentDisplay {
    white-space: pre-wrap;
    background-color: #e6750348;
    border: 1px solid #ffffff;
    border-radius: 2rem;;
    padding: 1rem;
}

.commentsList {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin: 0.5rem;
    border: #262568;
    color: white;
    gap: 0.5rem;
}

.comment {
    background-color: rgb(111, 71, 71);
    margin: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
}


.commentContent {
    white-space: pre-wrap;
    color: white;
    margin: 1rem 0;
    line-height: 1.3;
}

.commentInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    margin: 0 0 0.25rem 0.25rem;
    border-bottom: 1px solid #f7d8a5;
    padding: 0.5rem;
}

.userLink {
    background-color: rgba(17, 10, 10, 0.37);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 1rem;
    color: #df961f;
    padding: 0.25rem;
    font-size: 1rem;
    text-decoration: none;
    margin: 0.25rem;
}

.userLink:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #f7d8a5;
}

.profilePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileInfo {
    display: flex;
    flex-direction: row;
}

.profileUpdateDiv {
    display: flex;
    flex-direction: column;
}

.about {
    display:flex;
    flex-direction: column;
    padding: 2rem;
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
}

.about h1 {
    color: #dc6e00;
    font-size: 5rem;
}

.about h2 {
    color: #f7d8a5;
}
.team {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.column-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3rem;
    margin-bottom: 5rem;
}

.text-column {
    flex: 3;
}

.image-column {
    flex: 2; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-column img {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #dc6e00;
    box-shadow: 10px 10px 0px #dc6e00; 
}


.mission, .team, .join {
    text-align: center;
    margin-top: 4rem;
    border-top: 1px solid rgba(247, 216, 165, 0.2);
    padding-top: 3rem;
}

.changeContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

