extends layout.pug 

block scripts 
    script(src="/js/new.js" defer)

block header 
    include header


block left-nav 
    include left_nav

block content
    h1#pageName New Project
    form#newProjectForm
        label(for='projTitleEntry') Title:
            br
            input#projTitleEntry(type='text' name='projTitleEntry' placeholder='Title' maxlength='50')
        label(for='projCatEntry') Select a Category:
            br
            select#projCatEntry(name='projCatEntry')
                option(value='' disabled selected) Select Category
                option(value=0) No Category
                option(value='') All Categories
                each cat in categories
                    option(value=cat.category_id) #{cat.category_name}
        label(for="projLinkEntry") Project Repo Link:
            br
            input#projLinkEntry(type='url' name='projLinkEntry' pattern="https://.*" placeholder='https://')
        label(for="projDescEntry") Description:
            br
            textarea#projDescEntry(name='projDescEntry' placeholder='Describe your project.' cols="50" maxlength=100)
        button#newProjButton(type='submit') Create Project


block footer
    include footer

